<!doctype html>
<html>

  <head>
    <title>Node1 Statup Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href={{ url_for('static', filename='main.css') }}>
  </head>

  <body>
    <table border = 0.5>
      <thead style="color: blue">
        <td>Name</td>
        <td>Sector</td>
        <td>Bio</td>
      </thead>

      {% for row in rows %}
        <tr>
          <td>{{row["name"]}}</td>
          <td>{{row["sector"]}}</td>
          <td>{{row["bio"]}}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
